@font-face {
  font-family: 'MyFont' ;
  src: url('/Overlock-Regular.ttf');
}


.container-font {
  font-family: 'MyFont';
}

#home {
background-image: linear-gradient(to bottom, #addaff, #c7dffe, #dce5fb, #ecedf8, #f6f6f6);
  background-blend-mode:difference;
}



#skill {
background-image: linear-gradient(to right, #c489f4, #cba7f9, #d6c2fb, #e4ddfa, #f6f6f6);
}

#contact {  
  background-image: linear-gradient(to top, #f4b8a7, #f8c5c9, #f4d6e3, #f1e7f1, #f6f6f6);
}

#cardproject {
  transition: 250ms;
}

#cardproject:hover{
    transform: translateY(-10px);
}


